.chess__box {
  display: flex;
  flex-wrap: wrap;
  width: 630px;
  height: 630px;
  border: 15px solid #462617;
  border-radius:10px;
  transition: all 0.5s ease-in-out;
}



.chees {
  width: 75px;
  height: 75px;
  border: 1px solid #462617;
  border: 1px solid #462617;
  transition: all 150ms ease-in-out;
  cursor: pointer;

  &:hover {
    box-shadow: 0px 0px 31px 13px #ff2929 inset;
  }
}
.tower {
  background-image: url('../../images/Castle.png');
}

.color_black {
  background-image: url('../../images/black.jpg');
}
.color_white { 
  background-image: url('../../images/white2.jpg');
}
.chess__dimentions {
  position: absolute;
  top: 150px;
  right: 100px;
}


.chess__x,
.chess__y {
  padding: 5px;
  font-family: sans-serif;
  font-size: 32px;
  background: #fff;
  color: #a65500;
}
.chess__y {
  top: 150px;
}


.btns {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 20px;
  left: 20px;
  width: 80px;
}

.btn {
  padding: 0;
  margin-bottom: 20px;
  width: 80px;
  height: 80px;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  color: #fcb463;
  background: #fff;
  border: 1px solid #a75900;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}

.imgs {
  width: 100%;
  height: 100%;
}

.btn:hover {
  background: #ffa500;
  color: #fff;
}


.green {
  box-shadow: 0px 0px 30px 13px #09ff00 inset;
}


.three__d {
  position: fixed;
  top: 80px;
  right: 110px;
  width: 60px;
  height: 60px;
  font-size: 32px;
  font-weight: 700;
  color: #fcb463;
  background: #fff;
  border: 1px solid #a75900;
  transition: all 0.1s ease-in-out;
  cursor: pointer;
}

.add__3d {
  transform: perspective(500px) rotateX(21deg) rotateY(0deg) rotateZ(0deg) translateX(0px) translateY(-50px) translateZ(50px) scaleX(1.3);
}
